 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 213px;
}

.u-section-1 .u-text-1 {
  font-family: forgotten_uncial;
  margin: 27px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 862px;
  margin: 16px auto 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 1080px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1001px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 204%;
    left: -52%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .embed-responsive-1 {
    width: 266%;
    left: -83%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .embed-responsive-1 {
    width: 355%;
    left: -128%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .embed-responsive-1 {
    width: 564%;
    left: -232%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 515px;
}

.u-section-3 .u-text-1 {
  font-family: forgotten_uncial;
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-3 .u-slider-1 {
  min-height: 322px;
  height: auto;
  width: 996px;
  margin: 30px auto 50px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px 30px 70px;
}

.u-section-3 .u-image-1 {
  height: 258px;
  width: 482px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: -228px 0 0 504px;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0 504px;
}

.u-section-3 .u-container-layout-2 {
  padding: 28px 80px 28px 70px;
}

.u-section-3 .u-image-2 {
  height: 258px;
  width: 279px;
  margin: 9px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: -231px 0 0 309px;
}

.u-section-3 .u-text-5 {
  margin: 30px 0 0 309px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-image-3 {
  height: 258px;
  width: 410px;
  margin: 0 auto 0 50px;
}

.u-section-3 .u-text-6 {
  margin: -231px -51px 0 460px;
}

.u-section-3 .u-text-7 {
  margin: 30px 50px 0 460px;
}

.u-section-3 .u-carousel-control-1 {
  width: 44px;
  height: 44px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 44px;
  height: 44px;
  background-image: none;
  left: auto;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    width: 940px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 299px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 299px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 299px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 299px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 260px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 308px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 308px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 308px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 308px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-slider-1 {
    width: 540px;
    min-height: 595px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-image-2 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-slider-1 {
    width: 340px;
    min-height: 370px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 313px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 313px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-3 .u-image-3 {
    height: 214px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-top: -187px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 740px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-4 .u-image-1 {
  min-height: 608px;
  background-image: url("images/90fc53c9.svg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-image-2 {
  min-height: 382px;
  background-image: url("images/90fc53c9.svg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 226px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-family: forgotten_uncial;
  margin: 21px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 501px;
  }

  .u-section-4 .u-image-2 {
    min-height: 315px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 186px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1384px;
  }

  .u-section-4 .u-image-1 {
    min-height: 767px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 483px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-4 .u-image-1 {
    min-height: 575px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 362px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-4 .u-image-1 {
    min-height: 362px;
  }

  .u-section-4 .u-image-2 {
    min-height: 228px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 515px;
}

.u-section-5 .u-text-1 {
  font-family: forgotten_uncial;
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-5 .u-slider-1 {
  width: 758px;
  min-height: 362px;
  height: auto;
  margin: 20px auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 25px 47px;
}

.u-section-5 .u-image-1 {
  height: 301px;
  width: 290px;
  margin: 6px auto 0 9px;
}

.u-section-5 .u-text-2 {
  font-family: forgotten_uncial;
  font-weight: 700;
  margin: -211px 20px 0 345px;
}

.u-section-5 .u-text-3 {
  margin: 9px 20px 0 345px;
}

.u-section-5 .u-container-layout-2 {
  padding: 25px 55px;
}

.u-section-5 .u-image-2 {
  height: 267px;
  width: 314px;
  margin: 23px auto 0 0;
}

.u-section-5 .u-text-4 {
  font-family: forgotten_uncial;
  font-weight: 700;
  margin: -204px 25px 0 324px;
}

.u-section-5 .u-text-5 {
  margin: 0 25px 0 324px;
}

.u-section-5 .u-container-layout-3 {
  padding: 25px 80px 25px 70px;
}

.u-section-5 .u-image-3 {
  height: 286px;
  width: 265px;
  margin: 13px auto 0 12px;
}

.u-section-5 .u-text-6 {
  font-family: forgotten_uncial;
  font-weight: 700;
  margin: -200px 0 0 309px;
}

.u-section-5 .u-text-7 {
  margin: 0 0 0 309px;
}

.u-section-5 .u-carousel-control-1 {
  width: 44px;
  height: 44px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
  padding: 4px;
}

.u-section-5 .u-carousel-control-2 {
  width: 44px;
  height: 44px;
  background-image: none;
  left: auto;
  right: 0;
  position: absolute;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 299px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 299px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 299px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 299px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-left: 299px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-left: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-slider-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 308px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 308px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 308px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 308px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 308px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-slider-1 {
    width: 540px;
    min-height: 595px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-image-2 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-image-3 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-slider-1 {
    width: 340px;
    min-height: 370px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 313px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 313px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 313px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
    margin-left: 18px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 700px;
}

.u-section-6 .u-text-1 {
  margin: 31px 0 0;
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-6 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 820px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 786px;
}

.u-section-7 .u-text-1 {
  font-family: forgotten_uncial;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-7 .u-gallery-1 {
  height: 552px;
  grid-gap: 17px;
  margin: 21px 0 60px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 17px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-7 .u-gallery-1 {
    height: 455px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-gap: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-7 .u-gallery-1 {
    height: 799px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2669px;
  }

  .u-section-7 .u-gallery-1 {
    height: 2435px;
    margin-top: 101px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1799px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1565px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-group-1 {
  width: 747px;
  min-height: 414px;
  margin: 60px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-family: forgotten_uncial;
  margin: 0 auto 0 34px;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  height: 50px;
  background-image: none;
  margin: 30px auto 0;
  padding: 11px 24px 11px 23px;
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 720px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
  }
}
/* page-custom-fonts */
@font-face {
  font-family: 'forgotten_uncial';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/forgotten_uncial.ttf);
}